// Replace with the correct network credentials
const char* ssid = "***Wi-Fi***Network***Name***";
const char* password = "***Wi-Fi***Network***Password***";

// Will be used if USE_SECRETS macro is defined.
//   In PlatformIO this can be done as a build flag in platformio.ini configuration file.
//   In Arduino this can be done in the project .ino file.
